<div class="container">

  <div class="error-text pt-4">
   <% if @contact.errors.any? %>
    もう一度入力して下さい。
   <% end %>
  </div>

  <div class="row border-bottom mt-5">
   <p><i class="bi bi-envelope ml-4 pr-2"></i>お問い合わせ</p>
  </div>

  <%= form_for(@contact, url: confirm_path) do |f| %>

   <div class="form-group row col-md-3 pt-3">
    <%= f.label :name, 'お名前', class: 'col-form-label' %><br>
    <%= f.text_field :name, autofocus: true, class: 'form-control custom-form-control', placeholder: 'お名前を入力して下さい' %>
   </div>

   <div class="form-group row col-md-3 pt-3">
    <%= f.label :message, 'お問い合わせ内容', class: 'col-form-label' %><br>
    <%= f.text_area :message, rows:'10', class: 'form-control custom-form-control', placeholder: 'お問い合わせ内容を入力して下さい' %>
   </div>

  <div class="form-group col-md-2">
    <%= f.submit '入力内容確認', class: 'form-control custom-form-control' %>
  </div>

  <% end %>

</div>
