<div class="container">
  <div class="row border-bottom mt-5">
   <p><i class="bi bi-person-fill ml-4 pr-2"></i> ログイン</p>
  </div>
  <%= form_with model: @user, url: user_session_path, local: true do |f| %>
   <%= render "devise/shared/error_messages", resource: resource %>

   <div class="form-group row pt-4">
    <%= f.label 'email', class: 'col-md-3 col-form-label' %><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'col-md-3 form-control custom-form-control', placeholder: 'sample@sample.com'  %>
   </div>

   <div class="form-group row pt-3">
    <%= f.label 'password', class: 'col-md-3 col-form-label' %>
    <%= f.password_field :password, autocomplete: "new-password", class:'col-md-3 form-control custom-form-control' %>
   </div>

   <div class="actions form-group mt-5">
    <%= f.submit "ログイン", class:'col-md-4 btn btn-outline-dark mr-3' %>
    <%= link_to "新規登録" , new_user_registration_path , class:'btn btn-outline-secondary'  %>
   </div>
  <% end %>

</div>
