<div class="container">
  <div class="row border-bottom mt-5">

   <% if @category.present? %>
    <strong class="mb-3">
     <i class="bi bi-stars p-2"></i><%= @category.name %>
    </strong>
   <% else %>
    <strong class="mb-3">ねこぽすと</strong>
   <% end %>
  </div>

  <div class="search-form mt-3 mb-5">
   <%= render "posts/search" %>
  </div>
  <% @posts.each do |post| %>
   <div class="row mt-4">
    <table class="container">
     <tbody>
      <tr>
       <td class="col-md-6"><i class="fa fa-chevron-right"><%= link_to post.title, post_path(post.id) , class:"text-dark ml-3 mr-5" %></i></td>
       <td class="col-md-3">by <%= link_to post.user.name, user_path(post.user) , class:"text-dark" %></td>
      </tr>
     </tbody>
    </table>
   </div>
  <% end %>
  <% unless @is_search %>
   <div class="pagenate text-dark">
    <%= paginate @posts %>
   </div>
  <% end %>
</div>
