<div class="container">

  <div class="error-text pt-4">
   <% if @post.errors.any? %>
    もう一度入力して下さい。
   <% end %>
  </div>

  <div class="row border-bottom mt-5">
   <strong class="mb-3">新規ぽすと</strong>
  </div>
  <%= form_with model: @post, local:true do |f| %>
   <div class="form-row pt-3">
    <div class="form-group col-md-3">
     <%= f.text_field :title , class: 'form-control custom-form-control', placeholder: 'タイトルを入力' %>
    </div>
   </div>
   <div class="form-row pt-2 ml-1 mb-1">
    <div class="form-group">
     <%= f.select :category_id, @category , { include_blank: 'カテゴリを選択'}, { class: 'form-control custom-form-control' , required: true } %>
    </div>
   </div>
   <div class="form-row pt-2">
    <div class="form-group col-md-3">
     <%= f.attachment_field :post_images_images, multiple: true %>
    </div>
   </div>
   <div class="form-row pt-3">
    <div class="form-group col-md-3">
     <%= f.text_area :body ,rows:'10' , class: 'form-control custom-form-control' %>
    </div>
   </div>
   <div class="form-row pt-3">
    <div class="form-group col-md-3">
      <%= f.submit '投稿' , class: 'form-control custom-form-control' %>
    </div>
   </div>
  <% end %>
</div>

