<div class="container">
  <div class="row border-bottom mt-5 bd-highlight">
    <div class="me-auto p-2 bd-highlight mr-5">
     <strong><%= @post.title %></strong>
    </div>
    <div class="p-2 bd-highlight ml-5">
    <% if @category.present? %>
     <i class="bi bi-stars p-2"></i>カテゴリ：<%= @category.name %>
    <% else %>
    <% end %>
    <span class="sentiment-score pl-5">
     <i class="bi bi-stars p-2"></i>感情分析スコア：<%= @post.score %>
    </span>
    </div>
  </div>
  <div class="row mt-5 image-post">
   <% if @post.post_images.present? %>
    <% @post.post_images.each do |image| %>
     <%= attachment_image_tag image, :image, class: "default_image p-3" %>
    <% end %>
   <% else %>
   <% end %>
  </div>
  <div class="row pt-5">
   <!--改行ができるよう記述-->
   <p><%=safe_join(@post.body.split("\n"),tag(:br))%></p>
  </div>
  <div class="row border-top pt-3 mt-5">
   <% if @post.user_id == current_user.id %>
    <%= link_to "編集" , edit_post_path , class:"btn btn-outline-dark mr-3" %>
    <%= link_to "削除",post_path(@post), method: :delete , "data-confirm" => "本当に消しますか？" , class:"btn btn-dark" %>
   <% end %>
    <div class="row ml-3">
     <%= render 'favorites/favorite', post: @post %>
     <p class="ml-3"><i class="bi bi-chat mr-2"></i><%= @post.post_comments.count %></p>
    </div>
  </div>
  <div id="comment_area">
   <%= render "post_comments/post_comments", post: @post %>
  </div>
  <div class="row ml-1 mt-4">
    <%= form_with(model:[@post,@post_comment], remote: true) do |f| %>
     <div class="form-group row">
      <%= f.text_area :comment, rows:'2',placeholder: "コメントを入力" , class:"form-control custom-form-control" %>
     </div>
     <div class="form-group row">
      <%= f.submit "送信" , class:"btn btn-outline-dark btn-sm" %>
     </div>
    <% end %>
  </div>
</div>

