<!DOCTYPE html>
<html>
  <head>
    <title>ねこ、暮らし。</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/47864e1775.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
  </head>

  <body>

    <header class="sticky-top">
      <nav class="navbar navbar-expand-lg navbar-light shadow-sm p-2 mb-3 bg-white rounded p-20">
        <div class="container">
          <a class="logo" href="/"><%= image_tag 'top-image.jpeg', size: '200x80' %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if signed_in? %>
               <li><%= link_to ' マイページ',user_path(current_user.id),class: 'btn btn-outline-dark m-3 btn-sm' %></li>
               <li><%= link_to ' ねこぽすと',posts_path,class: 'btn btn-outline-dark m-3 btn-sm' %></li>
               <li><%= link_to ' ログアウト',destroy_user_session_path, method: :delete , class: 'btn btn-outline-dark m-3 btn-sm' %></li>
               <li><%= link_to ' 新規ぽすと',new_post_path,class: 'btn btn-outline-dark m-3 btn-sm' %></li>
              <% else %>
               <li><%= link_to ' About',about_path,class: 'btn btn-outline-dark m-3 btn-sm' %></li>
               <li><%= link_to ' ねこぽすと',posts_path,class: 'btn btn-outline-dark m-3 btn-sm' %></li>
               <li><%= link_to '  新規登録',new_user_registration_path , class: 'btn btn-outline-dark m-3 btn-sm' %></li>
               <li><%= link_to ' ログイン',new_user_session_path , class: 'btn btn-outline-dark m-3 btn-sm' %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <%= yield %>

    <footer class="fixed-bottom">
      <small class="copy-right pr-5 pt-3">
        © 2021 Cat_living inc.️
　　　</small>
    </footer>

  </body>

</html>
